.graph-tooltip {
    text-align: center;
}
.pick-chart {
    padding: 10px 20px;
    cursor: pointer;
}
.navbar-nav {
    li.active a{
        text-decoration: none;
        background-color: #eee;
    }
}